:root {
  --primary-dark: hsl(300, 43%, 22%);
  --primary-light: hsl(333, 80%, 67%);

  --neutral-dark: hsl(303, 10%, 53%);
  --neutral-light: hsl(300, 24%, 96%);

  --fs-400: 0.8125rem;
  --fs-500: 0.9625rem;
  --fs-900: 2rem;

  --ff: "League Spartan", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  --lh-body: 1.2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  ******** MOBILE ******* */

body {
  font-family: var(--ff);
  font-size: var(--fs-400);
  min-height: 100vh;
  line-height: var(--lh-body);
  background-image: url("/images/bg-pattern-bottom-mobile.svg"),
    url("/images/bg-pattern-top-mobile.svg");
  background-position: center bottom, left top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto;
  padding: 3rem 2.5rem;
}

.flex-box.blurb {
  text-align: center;
  color: var(--neutral-dark);
}

h1 {
  font-size: var(--fs-900);
  color: var(--primary-dark);
  font-weight: var(--fw-700);
  padding-bottom: 1rem;
  line-height: 0.9;
}

.reviews-box {
  padding: 2rem 0;
  color: var(--primary-dark);
  font-weight: var(--fw-500);
}

.review {
  background-color: var(--neutral-light);
  border-radius: 0.3rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.stars img {
  height: auto;
}

.testimonial-card {
  background-color: var(--primary-dark);
  border-radius: 0.6rem;
  color: white;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.buyer-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

img {
  border-radius: 50%;
  height: 40px;
}

.buyer-name {
  display: flex;
  flex-direction: column;
}

.buyer-name h2 {
  font-weight: var(--fw-700);
}

.verified {
  font-weight: var(--fw-400);
  color: var(--primary-light);
}

/*  ******* TABLET ********** */

/*  ******* DESKTOP ********* */
@media (min-width: 600px) {
  body {
    font-size: var(--fs-500);
    background-image: url("/images/bg-pattern-bottom-desktop.svg"),
      url("/images/bg-pattern-top-desktop.svg");
    background-position: right bottom, left top;
  }
  .grid-container {
    display: grid;
    grid-template-rows: auto auto;
    padding: 8rem;
    max-width: 1500px;
  }
  .buyer-info {
    flex-direction: column;
  }
  .flex-box.testimonial {
    display: flex;
    gap: 1rem;
  }
  .testimonial-card {
    padding: 2rem 1.5rem;
  }
}

@media (min-width: 1280px) {
  .grid-container {
    padding: 12rem;
    grid-template-rows: 1fr 1fr;
  }
  .flex-box.blurb {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .intro-box {
    text-align: start;
    width: 380px;
  }
  h1 {
    font-size: 3.5rem;
  }
  .reviews-box {
    display: flex;
    flex-direction: column;
  }
  .review {
    width: 80%;
    flex-direction: row;
  }
  .review.second {
    align-self: center;
  }
  .review.third {
    align-self: flex-end;
  }
  .buyer-info {
    flex-direction: row;
  }
  .testimonial-card.first {
    align-self: flex-start;
  }
  .testimonial-card.second {
    align-self: center;
  }
  .testimonial-card.third {
    align-self: flex-end;
  }
}
